* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {scroll-behavior: smooth;}

body {
    font-family: Montserrat;
}

header {
    width:100vw;
    height: 25vh;
    /*object-fit: contain;*/
    border: 2px solid #8098ff;
    display: flex;
    margin: auto;
    }
 .logi {
     display: flex;
     width: 60vw;
     align-items: center;
    justify-content: center;
 }
.srch {
    width: 40vw;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}
input {
    position: initial;
    width: 90%;
    height: 50px;
    border: 3px solid #00abff;
    border-radius: 100px;
    padding: 10px;
}
img#logo {
    width: 50vw;
    height: 100%;
    margin-left: 50px;
    margin-top: 20px;
    
}
ul {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    overflow-x: scroll;
    background: #374a65;
    padding: 20px;
    position: -webkit-sticky;
    position: sticky;
}
li {
    list-style-type: none;
    margin: auto;
    position: -webkit-sticky;
    position: sticky;
    
}
a {
    text-decoration: none;
    color: white;
    position: -webkit-sticky;
    position: sticky;
}
a.vid {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-top: 5px;
    
}
.grid-container {
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    /*grid-gap: 10px;*/
    flex-direction: row;
    /*grid-auto-flow: row;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;*/
    justify-content: space-between;
    justify-content: center;
    padding: 10px;
    background: #425d6d;
    overflow-y: scroll;
}
.grid-container > div {
    width: calc(50vw/4);
    height: 100px;
    object-fit: contain;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    margin: auto auto 45px auto;
    font-size: 20px;
    
    
}
.grid-container > div > img {
    width: 100%;
    height: 100%;
    
}
video {
    
}
div.iframe {
    position: -webkit-sticky;
    position: sticky;
}
iframe {
    width: 50vw;
    height: 50vh;
    object-fit: contain;
    position: -webkit-sticky;
    position: sticky;
    border: 2px solid black;
    
}
#pic {
    border: 2px #95fff5;
}
div.all{
    display: flex;
}
footer {
    background: black;
    color:white;
    width: 100vw;
    padding-top: 15px;
    height: 250px;
    display: grid;
    text-align: center;
    grid-template-columns: 33vw 33vw 33vw;
    text-align: center;
}
h3 {
    text-decoration: none;
    font-family: arial;
    margin: 15px;
    
}
p {
    text-align: center;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
img.ft {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.us, .sc, .in {
    
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.active {
    
    
}
.srchi {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 3%;
}
